<!-- ============================ Contenedor ============================ -->
<c-container fluid>
  <!-- ============================ Tabla ============================ -->
  <c-row class="justify-content-center mb-4">
    <c-col>
      <c-card>
        <c-card-header> Datos de reserva </c-card-header>
        <c-card-body>
          <!-- ============================ Formulario ============================ -->
          <form action="">
            <c-row class="justify-content-center">
              <!-- ======== Nombre cliente reserva ======== -->
              <c-col lg="6" class="my-2">
                <label cLabel for="nombreCliente">Nombre del cliente</label>
                <input
                  type="text"
                  [(ngModel)]="reserva.nombreClienteReserva"
                  cFormControl
                  name="nombreCliente"
                  id="nombreCliente"
                />
              </c-col>
              <!-- ======== Identificación cliente reserva ======== -->
              <c-col lg="6" class="my-2">
                <label cLabel for="identificacionCliente">
                  Identificación del cliente
                </label>
                <input
                  type="text"
                  [(ngModel)]="reserva.identificacionClienteReserva"
                  cFormControl
                  name="identificacionCliente"
                  id="identificacionCliente"
                />
              </c-col>
              <!-- ======== Telefono cliente reserva ======== -->
              <c-col lg="6" class="my-2">
                <label cLabel for="telefonoCliente"
                  >Teléfono de contacto/cliente</label
                >
                <input
                  type="text"
                  [(ngModel)]="reserva.telefonoClienteReserva"
                  cFormControl
                  name="telefonoCliente"
                  id="telefonoCliente"
                />
              </c-col>
              <!-- ======== Cantidad personas ======== -->
              <c-col lg="6" class="my-2">
                <label cLabel for="cantidadPersonas">
                  Cantidad de invitados al evento
                </label>
                <input
                  type="number"
                  [(ngModel)]="reserva.cantidadPersonas"
                  cFormControl
                  name="cantidadPersonas"
                  id="cantidadPersonas"
                />
              </c-col>
              <!-- ======== Hora inicio ======== -->
              <c-col lg="6" class="my-2">
                <label cLabel for="horaInicio">Hora de inicio del evento</label>
                <input
                  type="text"
                  [(ngModel)]="reserva.horaInicio"
                  cFormControl
                  name="horaInicio"
                  id="horaInicio"
                />
              </c-col>
              <!-- ======== Hora fin ======== -->
              <c-col lg="6" class="my-2">
                <label cLabel for="horaFin"
                  >Hora de finalización del evento</label
                >
                <input
                  type="text"
                  [(ngModel)]="reserva.horaFin"
                  cFormControl
                  name="horaFin"
                  id="horaFin"
                />
              </c-col>
              <!-- ======== Fecha inicio de reserva ======== -->
              <c-col lg="6" class="my-2">
                <label cLabel for="fechaInicioEvento">Fecha del evento</label>
                <input
                  type="date"
                  [(ngModel)]="reserva.fechaInicioEvento"
                  cFormControl
                  name="fechaInicioEvento"
                  id="fechaInicioEvento"
                />
              </c-col>
              <!-- ======== Fecha fin de reserva ======== -->
              <c-col lg="6" class="my-2">
                <label cLabel for="fechaFinEvento">
                  Fecha de finalización del evento
                </label>
                <input
                  type="date"
                  [(ngModel)]="reserva.fechaFinEvento"
                  cFormControl
                  name="fechaFinEvento"
                  id="fechaFinEvento"
                />
              </c-col>
              <!-- ======== Asesor ======== -->
              <hr class="my-4" />
              <c-col lg="6" class="my-3">
                <c-row>
                  <c-col class="mb-1" xs="12">
                    <label cLabel>Asesor para el evento</label>
                  </c-col>
                  <c-col class="mb-1" lg="6">
                    <button cButton (click)="selectionModal('asesor')">
                      Elegir asesor
                    </button>
                  </c-col>
                  <!-- ======= Acordeon ======= -->
                  <c-col xs="12" *ngIf="auxAsesor">
                    <c-accordion>
                      <c-accordion-item #accordionItem>
                        <ng-template cTemplateId="accordionHeaderTemplate">
                          <button
                            cAccordionButton
                            (click)="accordionItem.toggleItem()"
                          >
                            {{ auxAsesor.nombreCompleto }}
                          </button>
                        </ng-template>
                        <ng-template cTemplateId="accordionBodyTemplate">
                          <div class="accordion-body">
                            {{ auxAsesor.descripcion || "Sin descripción" }}
                          </div>
                        </ng-template>
                      </c-accordion-item>
                    </c-accordion>
                  </c-col>
                </c-row>
              </c-col>
              <!-- ======== Adornos ======== -->
              <c-col lg="6" class="my-3">
                <c-row>
                  <c-col class="mb-1" xs="12">
                    <label cLabel>Adornos para el evento</label>
                  </c-col>
                  <c-col class="mb-1" lg="6">
                    <button cButton (click)="selectionModal('adornos')">
                      Elegir adornos
                    </button>
                  </c-col>
                  <!-- acordeon -->
                  <c-col xs="12">
                    <c-accordion>
                      <c-accordion-item
                        *ngFor="let adorno of selectedAdornos; let i = index"
                        #accordionItem="cAccordionItem"
                        [visible]="false"
                      >
                        <ng-template cTemplateId="accordionHeaderTemplate">
                          <button
                            (click)="accordionItem.toggleItem()"
                            [collapsed]="!accordionItem.visible"
                            cAccordionButton
                          >
                            {{ adorno.adorno.nombre }}

                            <p class="text-success ms-5">
                              ${{ adorno.adorno.precioUnitario }}
                            </p>
                            <button
                              cButton
                              class="ms-5 btn-secondary"
                              (click)="quitarAdorno(i)"
                            >
                              Quitar
                            </button>
                          </button>
                        </ng-template>
                        <ng-template cTemplateId="accordionBodyTemplate">
                          <div class="accordion-body">
                            <strong>{{ adorno.adorno.descripcion }}</strong>
                          </div>
                        </ng-template>
                      </c-accordion-item>
                    </c-accordion>
                  </c-col>
                </c-row>
              </c-col>
              <!-- ======== select Productos tecnológicos ======== -->
              <c-col lg="6" class="my-3">
                <c-row>
                  <c-col class="mb-1" xs="12">
                    <label cLabel>Productos tecnológicos para el evento</label>
                  </c-col>
                  <c-col class="mb-1" lg="6">
                    <button cButton (click)="selectionModal('productos')">
                      Elegir productos
                    </button>
                  </c-col>
                  <!-- Acordeon -->
                  <c-col xs="12">
                    <c-accordion>
                      <c-accordion-item
                        *ngFor="let producto of selectedProducto; let i = index"
                        #accordionItem="cAccordionItem"
                        [visible]="false"
                      >
                        <ng-template cTemplateId="accordionHeaderTemplate">
                          <button
                            (click)="accordionItem.toggleItem()"
                            [collapsed]="!accordionItem.visible"
                            cAccordionButton
                          >
                            {{ producto.nombre }}
                            <p class="text-success ms-5"></p>
                            <button
                              cButton
                              class="ms-5 btn-secondary"
                              (click)="quitarProducto(i)"
                            >
                              Quitar
                            </button>
                          </button>
                        </ng-template>
                        <ng-template cTemplateId="accordionBodyTemplate">
                          <div class="accordion-body">
                            <strong>{{ producto.descripcion }}</strong>
                          </div>
                        </ng-template>
                      </c-accordion-item>
                    </c-accordion>
                  </c-col>
                </c-row>
              </c-col>
              <!-- ======== select catering ======== -->
              <c-col lg="6" class="my-3">
                <c-row>
                  <c-col class="mb-1" xs="12">
                    <label cLabel>Catering para el evento</label>
                  </c-col>
                  <c-col class="mb-1" lg="6">
                    <button cButton (click)="selectionModal('catering')">
                      Elegir catering
                    </button>
                  </c-col>
                  <!-- ======= Acordeon ======= -->
                  <c-col xs="12">
                    <c-accordion>
                      <c-accordion-item
                        *ngFor="let catering of selectedCatering; let i = index"
                        #accordionItem="cAccordionItem"
                        [visible]="false"
                      >
                        <ng-template cTemplateId="accordionHeaderTemplate">
                          <button
                            (click)="accordionItem.toggleItem()"
                            [collapsed]="!accordionItem.visible"
                            cAccordionButton
                          >
                            {{ catering.nombreServicio }}
                            <p class="text-success ms-5">
                              ${{ catering.precioXPersona }}
                            </p>
                            <button
                              cButton
                              class="ms-5 btn-secondary"
                              (click)="quitarCatering(i)"
                            >
                              Quitar
                            </button>
                          </button>
                        </ng-template>
                        <ng-template cTemplateId="accordionBodyTemplate">
                          <div class="accordion-body">
                            <strong>{{ catering.descripcion }}</strong>
                          </div>
                        </ng-template>
                      </c-accordion-item>
                    </c-accordion>
                  </c-col>
                </c-row>
              </c-col>
              <!-- ======== select Equipo ======== -->
              <c-col lg="6" class="my-3">
                <c-row>
                  <c-col class="mb-1" xs="12">
                    <label cLabel>Equipo de servicio para el evento</label>
                  </c-col>
                  <c-col class="mb-1" lg="6">
                    <button cButton (click)="selectionModal('equipo')">
                      Elegir equipo
                    </button>
                  </c-col>
                  <!-- Acordeon -->
                  <c-col xs="12">
                    <c-accordion>
                      <c-accordion-item
                        *ngFor="let equipo of selectedEquipo; let i = index"
                        #accordionItem="cAccordionItem"
                        [visible]="false"
                      >
                        <ng-template cTemplateId="accordionHeaderTemplate">
                          <button
                            (click)="accordionItem.toggleItem()"
                            [collapsed]="!accordionItem.visible"
                            cAccordionButton
                          >
                            {{ equipo.equipo.tipoEquipo.valorCatalogo }}
                            <p
                              class="text-success ms-5"
                              *ngIf="equipo.horaXServicio === 0"
                            >
                              ${{ equipo.equipo.precioXHora }}
                            </p>
                            <p
                              class="text-success ms-5"
                              *ngIf="equipo.horaXServicio !== 0"
                            >
                              ${{ equipo.equipo.tarifaXEvento }}
                            </p>
                            <button
                              cButton
                              class="ms-5 btn-secondary"
                              (click)="quitarEquipo(i)"
                            >
                              Quitar
                            </button>
                          </button>
                        </ng-template>
                        <ng-template cTemplateId="accordionBodyTemplate">
                          <div class="accordion-body">
                            <strong>{{ equipo.equipo.descripcion }}</strong>
                          </div>
                        </ng-template>
                      </c-accordion-item>
                    </c-accordion>
                  </c-col>
                </c-row>
              </c-col>
              <!-- ======== select Montaje ======== -->
              <c-col lg="6" class="my-3">
                <c-row>
                  <c-col class="mb-1" xs="12">
                    <label cLabel>Montaje para el evento</label>
                  </c-col>
                  <c-col class="mb-1" lg="6">
                    <button cButton (click)="selectionModal('montaje')">
                      Elegir montaje
                    </button>
                  </c-col>
                  <c-col xs="12" *ngIf="auxMontaje">
                    <c-accordion>
                      <c-accordion-item #accordionItem>
                        <ng-template cTemplateId="accordionHeaderTemplate">
                          <button
                            cAccordionButton
                            (click)="accordionItem.toggleItem()"
                          >
                            {{ auxMontaje.nombre }}
                            <p class="text-success ms-5"></p>
                          </button>
                        </ng-template>
                        <ng-template cTemplateId="accordionBodyTemplate">
                          <div class="accordion-body">
                            {{ auxMontaje.descripcion || "Sin descripción" }}
                          </div>
                        </ng-template>
                      </c-accordion-item>
                    </c-accordion>
                  </c-col>
                </c-row>
              </c-col>
              <!-- ======== select Local ======== -->
              <c-col lg="6" class="my-3">
                <c-row>
                  <c-col class="mb-1" xs="12">
                    <label cLabel>Local para el evento</label>
                  </c-col>
                  <c-col class="mb-1" lg="6">
                    <button cButton (click)="selectionModal('local')">
                      Elegir local
                    </button>
                  </c-col>
                  <c-col xs="12" *ngIf="auxLocal">
                    <c-accordion>
                      <c-accordion-item #accordionItem>
                        <ng-template cTemplateId="accordionHeaderTemplate">
                          <button
                            cAccordionButton
                            (click)="accordionItem.toggleItem()"
                          >
                            {{ auxLocal.nombreLocal }}
                          </button>
                        </ng-template>
                        <ng-template cTemplateId="accordionBodyTemplate">
                          <div class="accordion-body">
                            {{ auxLocal.descripcion || "Sin descripción" }}
                          </div>
                        </ng-template>
                      </c-accordion-item>
                    </c-accordion>
                  </c-col>
                </c-row>
              </c-col>
              <hr class="my-4" />
              <!-- ======== Tipo de evento ======== -->
              <c-col lg="6" class="my-3">
                <label cLabel for="tipoEvento">Tipo de evento</label>
                <ng-select
                  name="tipoEvento"
                  id="tipoEvento"
                  [items]="tipoEventoList"
                  bindLabel="valorCatalogo"
                  [(ngModel)]="auxTipoReserva"
                >
                </ng-select>
              </c-col>
              <!-- ======== Estado reserva ======== -->
              <c-col lg="6" class="my-3">
                <label cLabel for="estadoReserva">
                  Estado de reserva de evento
                </label>
                <ng-select
                  name="estadoReserva"
                  id="estadoReserva"
                  [items]="estadoReservaList"
                  bindLabel="valorCatalogo"
                  [(ngModel)]="auxEstadoReserva"
                >
                </ng-select>
              </c-col>
              <hr class="my-4" />
              <!-- ======== Costo por pack ======== -->
              <c-col lg="7" class="my-2">
                <input
                  type="checkbox"
                  class="mx-2"
                  [(ngModel)]="esCostoPack"
                  cFormCheckInput
                  (click)="changeCosto()"
                  name="cantidadMesas"
                  id="cantidadMesas"
                />
                <label cFormCheckLabel for="checkOne" class="mx-2">
                  {{
                    esCostoPack
                      ? "Cobrar por mesas y sillas"
                      : "Cobrar por pack"
                  }}
                </label>
              </c-col>
              <ng-container *ngIf="esCostoPack; else packTemplate">
                <!-- ======== Cantidad Sillas ======== -->
                <c-col lg="6" class="my-2">
                  <label cLabel for="cantidadSillas">Cantidad de sillas</label>
                  <input
                    type="number"
                    [(ngModel)]="reserva.cantidadSillas"
                    cFormControl
                    name="cantidadSillas"
                    id="cantidadSillas"
                  />
                </c-col>
                <!-- ======== Cantidad Mesas ======== -->
                <c-col lg="6" class="my-2">
                  <label cLabel for="cantidadMesas">Cantidad de mesas</label>
                  <input
                    type="number"
                    [(ngModel)]="reserva.cantidadMesas"
                    cFormControl
                    name="cantidadMesas"
                    id="cantidadMesas"
                  />
                </c-col>
              </ng-container>
              <!-- Plantilla alternativa cuando esCostoPack es falso -->
              <ng-template #packTemplate>
                <c-col lg="12" class="my-2">
                  <label cLabel for="cantidadPack"
                    >Cantidad de mesas y sillas</label
                  >
                  <input
                    type="number"
                    [(ngModel)]="reserva.cantidadPack"
                    cFormControl
                    name="cantidadPack"
                    id="cantidadPack"
                  />
                </c-col>
              </ng-template>
              <hr class="my-4" />
              <!-- =========================== Costos =========================== -->
              <c-col lg="6" class="my-2">
                <label cLabel for="costoMontaje">Costo montaje</label>
                <input
                  type="number"
                  [(ngModel)]="reserva.costoMontaje"
                  cFormControl
                  name="costoMontaje"
                  id="costoMontaje"
                />
              </c-col>
              <c-col lg="6" class="my-2">
                <label cLabel for="costoAdornos">Costo adornos</label>
                <input
                  type="number"
                  [(ngModel)]="reserva.costoAdornos"
                  cFormControl
                  name="costoAdornos"
                  id="costoAdornos"
                />
              </c-col>
              <c-col lg="6" class="my-2">
                <label cLabel for="costoServicio">costoServicio</label>
                <input
                  type="number"
                  [(ngModel)]="reserva.costoServicio"
                  cFormControl
                  name="costoServicio"
                  id="costoServicio"
                />
              </c-col>
              <c-col lg="6" class="my-2">
                <label cLabel for="costoServicio">costoServicio</label>
                <input
                  type="number"
                  [(ngModel)]="reserva.costoServicio"
                  cFormControl
                  name="costoServicio"
                  id="costoServicio"
                />
              </c-col>
            </c-row>
            <c-row class="justify-content-end my-3">
              <c-col lg="2" *ngIf="!isUpdating">
                <button cButton color="primary" (click)="calcularCostoTotal()">
                  Calcular costo
                </button>
              </c-col>
              <c-col lg="2" *ngIf="!isUpdating">
                <button cButton color="primary" (click)="saveRent()">
                  Guardar
                </button>
              </c-col>
              <c-col lg="2" *ngIf="isUpdating">
                <button cButton color="primary" (click)="updateRent()">
                  Actualizar
                </button>
              </c-col>
            </c-row>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
<c-modal
  id="liveDemoModal"
  [visible]="visible"
  (visibleChange)="handleModalChange($event)"
  size="xl"
>
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button (click)="selectionModal('asesor')" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row class="justify-content-center">
      <!-- ======== select asesor ======== -->
      <c-row class="justify-content-center" *ngIf="chooseAsesor === true">
        <c-col xs="12" class="mb-2">
          <label cLabel for="asesor">Seleccione un Asesor</label>
          <ng-select
            class="mb-2"
            name="asesor"
            id="asesor"
            [items]="asesorList"
            bindLabel="nombreCompleto"
            [(ngModel)]="auxAsesor"
            (change)="selectAsesor(auxAsesor)"
          >
          </ng-select>
        </c-col>
      </c-row>
      <!-- ======== select Adornos ======== -->
      <c-row class="justify-content-center" *ngIf="chooseAdornos === true">
        <c-col lg="6" xs="12" class="mb-2">
          <label cLabel for="adornoEvento">Seleccione un adorno</label>
          <ng-select
            class="mb-2"
            name="adornoEvento"
            id="adornoEvento"
            [items]="adornosList"
            bindLabel="nombre"
            [(ngModel)]="auxAdorno"
            (change)="selectAdorno(auxAdorno)"
          >
          </ng-select>
        </c-col>
        <c-col lg="6" xs="12" class="mb-2">
          <label cLabel for="colorAdorno">Seleccione un color</label>
          <ng-select
            class="mb-2"
            name="colorAdorno"
            id="colorAdorno"
            [items]="auxAdorno.adornoColor"
            bindLabel="nombre"
            [(ngModel)]="auxColor"
          >
          </ng-select>
        </c-col>
        <c-col lg="6" xs="12" class="mb-2">
          <label cLabel for="cantidadAdornos">Cantidad de adornos</label>
          <input
            type="number"
            [(ngModel)]="adornoReserva.cantidadAdornos"
            cFormControl
            name="cantidadAdornos"
            id="cantidadAdornos"
          />
        </c-col>
      </c-row>
      <!-- ======== select Productos ======== -->
      <c-row class="justify-content-center" *ngIf="chooseProductos === true">
        <c-col xs="12" class="mb-2">
          <label cLabel for="productoEvento">Seleccione una opción</label>
          <ng-select
            class="mb-2"
            name="productoEvento"
            id="productoEvento"
            [items]="productoList"
            bindLabel="nombre"
            [(ngModel)]="auxProducto"
            (change)="selectProducto(auxProducto)"
          >
          </ng-select>
        </c-col>
      </c-row>
      <!-- ======== select Catering ======== -->
      <c-row class="justify-content-center" *ngIf="chooseCatering === true">
        <c-col xs="12" class="mb-2">
          <label cLabel for="servicioCatering">
            Seleccione un servicio de catering
          </label>
          <ng-select
            class="mb-2"
            name="servicioCatering"
            id="servicioCatering"
            bindLabel="nombreServicio"
            [items]="cateringList"
            [(ngModel)]="auxCatering"
            (change)="selectCatering(auxCatering)"
          >
          </ng-select>
        </c-col>
      </c-row>
      <!-- ======== select Equipo ======== -->
      <c-row class="justify-content-center" *ngIf="chooseEquipo === true">
        <c-col xs="12" class="mb-2">
          <label cLabel for="equipoServicio">
            Seleccione un equipo de servicio
          </label>
          <ng-select
            class="mb-2"
            name="equipoServicio"
            id="equipoServicio"
            bindLabel="tipoEquipo.valorCatalogo"
            [items]="equipoList"
            [(ngModel)]="auxEquipo"
            (change)="selectEquipo(auxEquipo)"
          >
          </ng-select>
        </c-col>
        <c-col xs="12" class="mb-2">
          <label cLabel for="horaXServicio"> Horas de servicio </label>
          <input
            cFormControl
            class="mb-2"
            name="horaXServicio"
            id="horaXServicio"
            type="number"
            [(ngModel)]="equipoReserva.horaXServicio"
          />
        </c-col>
      </c-row>
      <!-- ======== select Local ======== -->
      <c-row class="justify-content-center" *ngIf="chooseLocal === true">
        <c-col xs="12" class="mb-2">
          <label cLabel for="localEvento">Seleccione un local</label>
          <ng-select
            class="mb-2"
            name="localEvento"
            id="localEvento"
            bindLabel="nombreLocal"
            [items]="localList"
            [(ngModel)]="auxLocal"
            (change)="selectLocal(auxLocal)"
          >
          </ng-select>
        </c-col>
      </c-row>
      <!-- ======== select Montaje ======== -->
      <c-row class="justify-content-center" *ngIf="chooseMontaje === true">
        <c-col xs="12" class="mb-2">
          <label cLabel for="montajeEvento">Seleccione una opción</label>
          <ng-select
            class="mb-2"
            name="montajeEvento"
            id="montajeEvento"
            bindLabel="nombre"
            [items]="montajeList"
            [(ngModel)]="auxMontaje"
            (change)="selectMontaje(auxMontaje)"
          >
          </ng-select>
        </c-col>
      </c-row>
      <!-- ======== Galeria de imagenes ======== -->
      <c-container *ngIf="isShowingGallery">
        <c-row class="justify-content-center">
          <c-col xs="12" class="my-2">
            <c-carousel *ngIf="imageList.length > 0" [interval]="5000">
              <c-carousel-inner>
                <c-carousel-item *ngFor="let image of imageList">
                  <img
                    [src]="image.url"
                    class="d-block w-100"
                    alt="Imagen de adorno"
                  />
                </c-carousel-item>
              </c-carousel-inner>
              <c-carousel-control caption="Previous" direction="prev">
              </c-carousel-control>
              <c-carousel-control caption="Next" direction="next">
              </c-carousel-control>
            </c-carousel>
          </c-col>
        </c-row>
      </c-container>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <!-- ============== adornos ============== -->
    <c-row class="justify-content-end text-end" *ngIf="chooseAdornos">
      <c-col lg="5">
        <button cButton color="primary" (click)="agregarAdorno()">
          Guardar
        </button>
      </c-col>
      <c-col lg="5">
        <button (click)="toggleModal()" cButton color="secondary">
          Cancelar
        </button>
      </c-col>
    </c-row>
    <!-- ============== Productos ============== -->
    <c-row class="justify-content-end text-end" *ngIf="chooseProductos">
      <c-col lg="5">
        <button cButton color="primary" (click)="agregarProducto()">
          Guardar
        </button>
      </c-col>
      <c-col lg="5">
        <button (click)="toggleModal()" cButton color="secondary">
          Cancelar
        </button>
      </c-col>
    </c-row>
    <!-- ============== Equipo ============== -->
    <c-row class="justify-content-end text-end" *ngIf="chooseEquipo">
      <c-col lg="5">
        <button cButton color="primary" (click)="agregarEquipo()">
          Guardar
        </button>
      </c-col>
      <c-col lg="5">
        <button (click)="toggleModal()" cButton color="secondary">
          Cancelar
        </button>
      </c-col>
    </c-row>
    <!-- ============== Equipo ============== -->
    <c-row class="justify-content-end text-end" *ngIf="chooseCatering">
      <c-col lg="5">
        <button cButton color="primary" (click)="agregarCatering()">
          Guardar
        </button>
      </c-col>
      <c-col lg="5">
        <button (click)="toggleModal()" cButton color="secondary">
          Cancelar
        </button>
      </c-col>
    </c-row>
  </c-modal-footer>
</c-modal>
