<!-- ============================ Contenedor ============================ -->
<c-container fluid>
  <button
    [routerLink]="['/' + rutas.urls.adminNavigate.url]"
    cButton
    class="mb-2"
    color="primary"
  >
    <svg [cIcon]="icons.cilArrowLeft" size="md"></svg>
  </button>
  <!-- ============================ Filtro ============================ -->
  <c-row class="mb-4">
    <c-col xs="12">
      <c-card>
        <c-card-header>
          <h6 class="fw-semibold">Filtro</h6>
        </c-card-header>
        <c-card-body>
          <!-- ============================ Fila de objetos de filtro ============================ -->
          <c-row class="justify-content-center text-center">
            <!-- ===================== Nombre ===================== -->
            <c-col xs="12" class="my-2">
              <c-row>
                <c-col lg="3" xs="6">
                  <label cLabel for="nameFt">Nombre del cliente:</label>
                </c-col>
                <c-col lg="9" xs="6">
                  <input cFormControl id="nameFt" name="nameFt" type="text" />
                </c-col>
              </c-row>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <!-- ============================ Boton agregar ============================ -->
  <c-row class="d-flex text-end">
    <c-col>
      <button class="mb-3" cButton color="primary">
        Agendar reserva <svg [cIcon]="icons.cilPlus" size="md"></svg>
      </button>
    </c-col>
  </c-row>
  <!-- ============================ Tabla ============================ -->
  <c-row class="text-center justify-content-center">
    <c-col>
      <c-card>
        <c-card-body>
          <table cTable stripedColumns hover [responsive]="true">
            <!-- ============================ Tabla - header ============================ -->
            <thead>
              <th>Nombre del cliente</th>
              <th>Cantidad de invitados</th>
              <th>Fecha del evento</th>
              <th>Nombre local reserva</th>
              <th>Dirección reserva</th>
              <th>Costo total reserva</th>
              <th>Estado de la reserva</th>
              <th>Accion</th>
            </thead>
            <!-- ============================ Tabla - body ============================ -->
            <tbody *ngFor="let reserva of reservaList">
              <tr>
                <td>{{ reserva.nombreClienteReserva }}</td>
                <td>{{ reserva.cantidadPersonas }}</td>
                <td>{{ reserva.fechaInicioEvento }}</td>
                <td>{{ reserva.local.nombreLocal }}</td>
                <td>{{ reserva.local.direccion }}</td>
                <td>{{ reserva.costoTotal }}</td>
                <td>{{ reserva.estadoReserva.valorCatalogo }}</td>
                <td>
                  <button
                    cButton
                    class="me-3 mb-2"
                    color="primary"
                    (click)="editReserva(reserva)"
                  >
                    <svg [cIcon]="icons.cilPen" size="md"></svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
