// Here you can add other styles

@font-face {
  font-family: "DancingScript";
  src: url("../assets/fonts/DancingScript-Bold.ttf") format("truetype"),
    url("../assets/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
