<!-- ============================ Contenedor ============================ -->
<c-container fluid>
  <button
    [routerLink]="['/' + rutas.urls.adminNavigate.url]"
    cButton
    class="mb-2"
    color="primary"
  >
    <svg [cIcon]="icons.cilArrowLeft" size="md"></svg>
  </button>
  <!-- ============================ Filtro ============================ -->
  <c-row class="mb-4">
    <c-col xs="12">
      <c-card>
        <c-card-header>
          <h6 class="fw-semibold">Filtro</h6>
        </c-card-header>
        <c-card-body>
          <!-- ============================ Fila de objetos de filtro ============================ -->
          <c-row class="justify-content-center text-center">
            <!-- ============================ Nombre ============================ -->
            <c-col md="6" class="my-2">
              <c-row>
                <c-col lg="3" xs="6">
                  <label cLabel for="nameFt">Nombre del local:</label>
                </c-col>
                <c-col lg="9" xs="6">
                  <input cFormControl id="nameFt" name="nameFt" type="text" />
                </c-col>
              </c-row>
            </c-col>
            <!-- ============================ Aforo ============================ -->
            <c-col md="6" class="my-2">
              <c-row>
                <c-col lg="3" xs="6">
                  <label cLabel for="aforoFt">Aforo del local:</label>
                </c-col>
                <c-col lg="9" xs="6">
                  <input
                    cFormControl
                    id="aforoFt"
                    name="aforoFt"
                    type="number"
                  />
                </c-col>
              </c-row>
            </c-col>
            <!-- ============================ Sector ============================ -->
            <c-col md="6" class="my-2">
              <c-row>
                <c-col lg="3" xs="6">
                  <label cLabel for="sectorFt">Sector del local:</label>
                </c-col>
                <c-col lg="9" xs="6">
                  <input
                    cFormControl
                    id="sectorFt"
                    name="sectorFt"
                    type="text"
                  />
                </c-col>
              </c-row>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <!-- ============================ Botón agregar ============================ -->
  <c-row class="d-flex text-end">
    <c-col>
      <button class="mb-3" (click)="toggleModal(1)" cButton color="primary">
        Agregar local <svg [cIcon]="icons.cilPlus" size="md"></svg>
      </button>
    </c-col>
  </c-row>
  <!-- ============================ Tabla ============================ -->
  <c-row class="text-center justify-content-center">
    <c-col>
      <c-card>
        <c-card-body>
          <table cTable stripedColumns hover [responsive]="true">
            <!-- ============================ Tabla - header ============================ -->
            <thead>
              <tr>
                <th>Nombre del local</th>
                <th>Descripción</th>
                <th>Dimensiones</th>
                <th>Sector</th>
                <th>Dirección</th>
                <th>Aforo</th>
                <th>Tipo de local</th>
                <th>Estado de disponibilidad</th>
                <th>Acción</th>
              </tr>
            </thead>
            <!-- ============================ Tabla - body ============================ -->
            <tbody>
              <tr *ngFor="let local of localList">
                <td>{{ local.nombreLocal }}</td>
                <td>{{ local.descripcion }}</td>
                <td>{{ local.dimensiones }}</td>
                <td>{{ local.sector }}</td>
                <td>{{ local.direccion }}</td>
                <td>{{ local.aforo }}</td>
                <td>{{ local.tipoLocal.valorCatalogo }}</td>
                <td>{{ local.estadoDisponibilidad.valorCatalogo }}</td>
                <td>
                  <button
                    cButton
                    (click)="setEditLocal(local)"
                    (click)="toggleModal(2)"
                    class="me-3 mb-2"
                    color="primary"
                  >
                    <svg [cIcon]="icons.cilPen" size="md"></svg>
                  </button>
                  <button
                    cButton
                    (click)="setDeleteLocal(local)"
                    (click)="toggleModal(3)"
                    class="mb-2"
                    color="danger"
                  >
                    <svg [cIcon]="icons.cilTrash" size="md"></svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>

<!-- ============================ Modal ============================ -->
<c-modal
  [keyboard]="false"
  [transition]="false"
  [visible]="visibleUpdate"
  id="updateModal"
  size="lg"
>
  <c-modal-header>
    <h5 cModalTitle>
      {{ updating ? "Actualizar" : eliminating ? "Eliminar" : "Registrar" }}
    </h5>
    <button (click)="toggleModal(4)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-container *ngIf="!eliminating" fluid>
      <c-row class="justify-content-center">
        <!-- ============== Nombre ============== -->
        <c-col md="6" class="my-2">
          <label cLabel for="nameLocal">Nombre del local</label>
          <input
            type="text"
            cFormControl
            name="nameLocal"
            id="nameLocal"
            [(ngModel)]="editLocal.nombreLocal"
          />
        </c-col>
        <!-- ============== Sector ============== -->
        <c-col md="6" class="my-2">
          <label cLabel for="sectorLocal">Sector del local</label>
          <input
            type="text"
            cFormControl
            name="sectorLocal"
            id="sectorLocal"
            [(ngModel)]="editLocal.sector"
          />
        </c-col>
        <!-- ============== Dirección ============== -->
        <c-col md="6" class="my-2">
          <label cLabel for="addressLocal">Dirección del local</label>
          <input
            type="text"
            cFormControl
            name="addressLocal"
            id="addressLocal"
            [(ngModel)]="editLocal.direccion"
          />
        </c-col>
        <!-- ============== Dimensiones ============== -->
        <c-col md="6" class="my-2">
          <label cLabel for="dimensionLocal">Dimensiones del local</label>
          <input
            type="text"
            cFormControl
            name="dimensionLocal"
            id="dimensionLocal"
            [(ngModel)]="editLocal.dimensiones"
          />
        </c-col>
        <!-- ============== Tarifa por hora ============== -->
        <c-col md="6" class="my-2">
          <label cLabel for="tarifaXHora">Tarifa por hora</label>
          <input
            type="number"
            cFormControl
            name="tarifaXHora"
            id="tarifaXHora"
            [(ngModel)]="editLocal.tarifaXHora"
          />
        </c-col>
        <!-- ============== Tarifa por día ============== -->
        <c-col md="6" class="my-2">
          <label cLabel for="tarifaXDia">Tarifa por día</label>
          <input
            type="number"
            cFormControl
            name="tarifaXDia"
            id="tarifaXDia"
            [(ngModel)]="editLocal.tarifaXDia"
          />
        </c-col>
        <!-- ============== Aforo ============== -->
        <c-col md="6" class="my-2">
          <label cLabel for="aforoLocal">Aforo del local</label>
          <input
            type="number"
            cFormControl
            name="aforoLocal"
            id="aforoLocal"
            [(ngModel)]="editLocal.aforo"
          />
        </c-col>
        <!-- ============== Descripción ============== -->
        <c-col xs="12" class="my-2">
          <label cLabel for="descriptionProduct">Descripción</label>
          <textarea
            rows="2"
            cFormControl
            name="descriptionProduct"
            id="descriptionProduct"
            [(ngModel)]="editLocal.descripcion"
          ></textarea>
        </c-col>
        <!-- ============== Tipo de local ============== -->
        <c-col md="6" class="my-2">
          <label cLabel for="tipoLocal">Tipo de local</label>
          <ng-select
            class="mb-2"
            name="tipoLocal"
            id="tipoLocal"
            [items]="catalogoList"
            bindLabel="valorCatalogo"
            [(ngModel)]="auxCatalogo"
          >
          </ng-select>
        </c-col>
        <!-- ============== Estado de disponibilidad ============== -->
        <c-col md="6" class="my-2">
          <label cLabel for="estadoLocal">Estado de disponibilidad</label>
          <ng-select
            class="mb-2"
            name="estadoLocal"
            id="estadoLocal"
            [items]="estadosList"
            bindLabel="valorCatalogo"
            [(ngModel)]="auxEstado"
          >
          </ng-select>
        </c-col>
        <!-- ============== Imágenes ============== -->
        <c-col xs="12" class="my-2">
          <label cLabel for="imagenes">Imágenes</label>
          <input cFormControl id="imagenes" multiple type="file" />
        </c-col>
      </c-row>
    </c-container>
    <h5 *ngIf="eliminating">¿Seguro de que quiere eliminar este registro?</h5>
  </c-modal-body>
  <c-modal-footer>
    <button
      (click)="toggleModal(4)"
      (click)="cleanData()"
      cButton
      color="secondary"
    >
      Cerrar
    </button>
    <button *ngIf="eliminating" (click)="deleteLocal()" cButton color="primary">
      Eliminar
    </button>
    <button *ngIf="updating" (click)="updateLocal()" cButton color="primary">
      Actualizar
    </button>
    <button
      *ngIf="!updating && !eliminating"
      (click)="saveLocal()"
      cButton
      color="primary"
    >
      Guardar
    </button>
  </c-modal-footer>
</c-modal>
