<c-container fluid>
  <c-row class="text-center justify-content-center">
    <!-- ===================== Adornos ===================== -->
    <c-col class="d-flex position-relative my-2" lg="4" md="6">
      <c-card>
        <c-card-body>
          <a
            [routerLink]="'/' + rutas.urls.decoration.url"
            class="stretched-link"
          >
            <svg cIcon name="cilBadge" width="50%" class="text-secondary"></svg>
          </a>
          <h4>Adornos</h4>
        </c-card-body>
      </c-card>
    </c-col>
    <!-- ===================== Asesores ===================== -->
    <c-col class="d-flex position-relative my-2" lg="4" md="6">
      <c-card>
        <c-card-body>
          <a
            [routerLink]="'/' + rutas.urls.advisor.url"
            class="stretched-link"
          >
            <svg
              cIcon
              name="cilUserFollow"
              width="50%"
              class="text-secondary"
            ></svg>
          </a>
          <h4>Asesores</h4>
        </c-card-body>
      </c-card>
    </c-col>
    <!-- ===================== Catering ===================== -->
    <c-col class="d-flex position-relative my-2" lg="4" md="6">
      <c-card>
        <c-card-body
          ><a
            [routerLink]="'/' + rutas.urls.catering.url"
            class="stretched-link"
          >
            <svg
              cIcon
              name="cilRestaurant"
              width="50%"
              class="text-secondary"
            ></svg>
          </a>
          <h4>Catering</h4>
        </c-card-body>
      </c-card>
    </c-col>
    <!-- ===================== Catalogo ===================== -->
    <c-col class="d-flex position-relative my-2" lg="4" md="6">
      <c-card>
        <c-card-body
          ><a
            [routerLink]="'/' + rutas.urls.category.url"
            class="stretched-link"
          >
            <svg
              cIcon
              name="cilDescription"
              width="50%"
              class="text-secondary"
            ></svg>
          </a>
          <h4>Catálogo</h4>
        </c-card-body>
      </c-card>
    </c-col>
    <!-- ===================== Equipos servicio ===================== -->
    <c-col class="d-flex position-relative my-2" lg="4" md="6">
      <c-card>
        <c-card-body
          ><a
            [routerLink]="'/' + rutas.urls.serviceTeam.url"
            class="stretched-link"
          >
            <svg
              cIcon
              name="cilAddressBook"
              width="50%"
              class="text-secondary"
            ></svg>
          </a>
          <h4>Equipos de servicio</h4>
        </c-card-body>
      </c-card>
    </c-col>
    <!-- ===================== Locales ===================== -->
    <c-col class="d-flex position-relative my-2" lg="4" md="6">
      <c-card>
        <c-card-body
          ><a
            [routerLink]="'/' + rutas.urls.local.url"
            class="stretched-link"
          >
            <svg
              cIcon
              name="cilBuilding"
              width="50%"
              class="text-secondary"
            ></svg>
          </a>
          <h4>Locales</h4>
        </c-card-body>
      </c-card>
    </c-col>
    <!-- ===================== Montajes ===================== -->
    <c-col class="d-flex position-relative my-2" lg="4" md="6">
      <c-card>
        <c-card-body
          ><a
            [routerLink]="'/' + rutas.urls.setUp.url"
            class="stretched-link"
          >
            <svg cIcon name="cilSofa" width="50%" class="text-secondary"></svg>
          </a>
          <h4>Montajes</h4>
        </c-card-body>
      </c-card>
    </c-col>
    <!-- ===================== Productos técnicos ===================== -->
    <c-col class="d-flex position-relative my-2" lg="4" md="6">
      <c-card>
        <c-card-body
          ><a
            [routerLink]="'/' + rutas.urls.technicalProduct.url"
            class="stretched-link"
          >
            <svg cIcon name="cilTv" width="50%" class="text-secondary"></svg>
          </a>
          <h4>Productos técnicos</h4>
        </c-card-body>
      </c-card>
    </c-col>
    <!-- ===================== Usuarios ===================== -->
    <c-col class="d-flex position-relative my-2" lg="4" md="6">
      <c-card>
        <c-card-body
          ><a
            [routerLink]="'/' + rutas.urls.user.url"
            class="stretched-link"
          >
            <svg cIcon name="cilUser" width="50%" class="text-secondary"></svg>
          </a>
          <h4>Usuarios</h4>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
